*{
    white-space: normal;
    font-family: 'HaenamFont';
}

@font-face {
    font-family: 'HaenamFont';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/HaenamFont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #E7D6B8;
    background-image: url(../img/main1.jpg);
    background-repeat: repeat-x;
    background-position: top;
    /* background-attachment: fixed; */
    background-size:auto;
    background-repeat: no-repeat;
 
}


ul {
    
    list-style-type: none; /* 목록에 붙은 ● 모양을 없애줌*/
    margin: 0;
    padding: 0px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: larger;    
}
.header{
    display:flex;   
    justify-content: space-between;
    font-size: larger;
}

.메인문장{
    color: #9F4D41;
    margin: 300px 0 -400px 0 ;
    font-size: 50px;
}

ul:after{
    content:'';
}

.tl{
    cursor:pointer;
    color: #9F4D41;
    display:inline-block;
}

.logo{
    margin-right:10px;
}

li a {
    display: block;
    color: #9F4D41;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

li a:hover:not(.active) {
    text-decoration: underline;
}

.icon{
    /* margin: 440px 0 0 174px; */
    padding: 10%;
    display: flex;
    justify-content: flex-start;

}

.마사지{
    display: block;
    flex:1;
    margin: 250px 0 -100px -30px; 
    text-align: center;

}


.마사지 img{
    width: 10rem;
    height:5rem;
}

.케어{
    display: block;
    flex:1;
    margin: 250px 120px -100px 250px; 
    text-align: center;
}

.케어 img{
    width: 10rem;
    height:5rem;
    
}

.테크닉{
    display: block;
    flex:1;
    margin: 250px 100px -100px 150px; 
    text-align: center;
}

.테크닉 img{
    width: 10rem;
    height:5rem;
}

.필링{
    display: block;
    flex:1;
    margin: 250px 0 -100px 200px ; 
    text-align: center;
}

.필링 img{
    width: 10rem;
    height:5rem;
    
}


/* .gallery{
    display: flex;
    justify-content: flex-start;
} */

.footer{
    text-align:center;
    color: #9F4D41;
    font-weight: bolder;
    position: fixed;
    bottom: 0;
    width: 100%;
}
